body{
    background-color: aliceblue;
}
h1{
    text-align: center;
    margin: 2px auto;
    width: fit-content;
}

form{
    display: flex;
    flex-flow: column nowrap;
    width: 50%;
    margin: 0 auto;
}

input, textarea{
    flex: 1 100%;
    margin: 3px auto 0;
}