<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= subject%></title>
</head>
<body>
    <%= content%>
    <h2>Why ejs templating of emails is cool</h2>
    <ul>
        <li style="background-color: aliceblue;">I can wrap your email in a webpage</li>
        <li>It allows me to do some really cool stuff with formatting of your content</li>
        <li style="color: red;background-color: aliceblue;">I might even be able to style this stuff</li>
    </ul>
</body>
</html>